# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# NLTK local cache
nltk_data/

# Jupyter
.ipynb_checkpoints/

# Ambiente
venv/
env/
ENV/
.pln/
*.env
*.venv

# VSCode
.vscode/

# arquivos de log
*.log

# Windows
Thumbs.db
desktop.ini
